{% extends 'base_admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/sweetalert/sweetalert.css') }}">
     <style>
        .bd-example-modal-lg .modal-dialog{
            display: table;
            position: relative;
            margin: 0 auto;
            top: calc(50% - 24px);
        }

        .bd-example-modal-lg .modal-dialog .modal-content{
            background-color: transparent;
            border: none;
        }
    </style>
{% endblock %}
{% block titre %} Ajouter un responsable {% endblock %}

{% block body %}




    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">

                <nav aria-label="breadcrumb">

                </nav>
            </div>
{#            <div class="col-md-6 col-sm-12 text-right hidden-xs">#}
{#                <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Ajouter un responsable</a>#}
{#            </div>#}
        </div>
    </div>

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="text-center" >Ajouter un responsable</h2>
                        </div>
                        <div class="body">

                            <div class="row">
                                <div class="col-lg-6">
                                    <form id="basic-form" method="post" novalidate>
                                        <div class="form-group">
                                            <label>Nom</label>
                                            <input type="text" class="form-control" required id="Nom">
                                        </div>
                                        <div class="form-group">
                                            <label>Prénoms</label>
                                            <input type="text" class="form-control" required id="prenoms">
                                        </div>
                                          <div class="form-group">
                                            <label>genre</label>
                                            <select class="form-control" id="genre"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Fonction</label>
                                            <select id="fonction" class="form-control"></select>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="email"> 
                                        </div>
                                        <div class="row">
                                            <label class="form-label">Est au groupe</label>
                                            <input type="checkbox" class="form-check" id="checkgroup"/>
                                        </div>
                                     



                                        <br>

                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <form id="basic-form" method="post" novalidate>

                                        <div class="form-group">
                                            <label>Téléphone</label>
                                            <input type="text" class="form-control" required id="telephone">
                                        </div>
                                          <div class="form-group">
                                            <label>Formation</label>
                                            <select class="form-control" id="formation"></select>
                                        </div>
                                      <div class="form-group">
                                            <label>Date de naissance</label>
                                            <input type="date" class="form-control" required id="dob">
                                        </div>
                                            <div class="form-group">
                                            <label>District</label>
                                            <select id="seldistrict" class="form-control"></select>
                                        </div>
                                           <div class="form-group selectgroupe" >
                                            <label>Groupe</label>
                                            <select id="groupe" class="form-control"></select>
                                        </div>
                                     
                                    </form>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-success" id="save">Enregistrer</button>
                                <button type="button" class="btn btn-danger" id="reset">Annuler</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
               <div class="table-responsive">
                    <table class="table" id="tbrespo">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Prénoms</th>
                            <th>Date de naissance</th>
                            <th>Téléphone</th> 
                            <th>Fonction</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
        </div>
    </div>





  <div class="modal fade" id="modalcompte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Opération en cours....</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" id="respoId">
                <div class="modal-body">
                    <div class="row">
                     
                        <img src=/img_logo/symbol.png class="rounded mx-auto d-bloc" WIDTH="170" height="150"> 
                     
                    </div>
                </div>
               
            </div>
        </div>
    </div>























{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery-datatable/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ asset("assets/bundles/datatablescripts.bundle.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.html5.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.print.min.js") }}"></script>
    <script>
        $(document).ready(function(){
            reset();
            loadTable();
            function loadTable()
            {

         
             var table = $("#tbrespo").DataTable({
            destroy:true,
            language: {
                processing: "Traitement en cours...",
                search: "Rechercher&nbsp;:",
                lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                infoPostFix: "",
                loadingRecords: "Chargement en cours...",
                zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                emptyTable: "Aucune donnée disponible dans le tableau",
                paginate: {
                    first: "Premier",
                    previous: "Pr&eacute;c&eacute;dent",
                    next: "Suivant",
                    last: "Dernier"
                }
            },
            ajax:{
                "url": "/ListeRespoDistrictConfig",
                "type":"POST",
                    
                
            },
            columns: [
               
                { "data": "id" },
                 { "data": "Nom" }  , 
                  { "data": "Prenoms" },
                  { "data": "Dob" },
                  { "data": "Telephone" },
                  { "data": "fonction" },
                   { "data": "Action" },
                 
              
            ],
            columnDefs: [
                {
                    targets: 0,
                    visible: false
                },
                // {
                //     targets: 5,
                //     visible: true
                // },
                {
                    targets: 4,
                    visible: false
                },
                {
                    targets:6,
                    //visible:false,
                    searchable: false,
                    orderable: false,
                    //className: 'dt-body-center',
                    render:function(data,type,full,meta){
                        return "<a id='delete'><span><i class='fa fa-trash fa-2x'></i></span></a>|<a id='add' onclick='CreateUser("+data+","+full.district+");'><span><i class='fa fa-plus fa-2x'></i></span></a>";
                    }
                }
            ],
        
         
         
        });
           }
             $("#checkgroup").prop('checked',false);
            $(".selectgroupe").hide();
            loadFonction();
            LoadDistrict();
            // loadGroupe();
            function reset(){
                $("#Nom").val('');
                $("#prenoms").val('');
                $("#dob").val('');
                $("#telephone").val('');
                 $("#email").val('');
                loadFonction();

            }

           $("#seldistrict").change(function(){
            debugger
             let Id = $(this).val();
             $.get("/GroupeByDistrict/"+Id,function(res)
             {
                debugger
                if(res)
                {
                    debugger
                    $("#groupe").empty;
                    $("#groupe").append("<option value=0 selected>---sélectionner un groupe---</option>");
                 //   let liste = JSON.parse(res.data);
                    $.each(res.data,function(i,n){
                        $("#groupe").append("<option value="+n.id+">"+n.nom+"</option>");
                    });
                    // swal({
                    //     title:"",
                    //     //type: success,
                    //     message: res.data
                    // });
                }
             });
           });
               $.ajax({
                type:"GET",
                url:"{{ path("GetListeGenre")}}",
                success:function(resp){
                    debugger
                    var defaultline = '<option value=selected>---selectionner genre---</option>';
                    $("#genre").append(defaultline);
                    var liste = JSON.parse(resp);
                    $.each(liste,function(i,n){
                        debugger
                        var line = '<option value='+n.id+'>'+n.Libelle+'</option>';
                        $("#genre").append(line);

                    });
                }
            });

                $("#checkgroup").change(function(){
                    debugger
                    let checked = $(this).is(':checked');
                    if(checked)
                        $(".selectgroupe").show();
                    else
                        $(".selectgroupe").hide();

                });


            $("#save").click(function(){
                
                debugger
                var  responsable={
                    nom : $("#Nom").val(),
                    prenoms : $("#prenoms").val(),
                    dob : $("#dob").val(),
                    telephone : $("#telephone").val(),
                    fonction : $("#fonction").val(),
                    fonction: $("#fonction").val(),
                    district : $("#seldistrict").val(),
                    groupe : $("#groupe").val(),
                    email : $("#email").val(),
                    formation : $("#formation").val(),
                    genre : $("#genre").val(),
                    habitation : "",
                    occupation : "",
                    
                    
                };

                let checked = $("#checkgroup").is(':checked');
                if(responsable.email != "")
                {

               
                if(checked)
                {
                    
                    //groupe
                       $.ajax({
                    type:"POST",
                    async: true,
                    dataType: 'json',
                    url:"{{ path('AddResponsable') }}",
                    data: responsable,
                    success:function(res){
                        debugger;
                        if (res.ok){

                            swal({
                                type:"success",
                                title:"RESPONSABLE",
                                text:res.message
                            },function (){
                                reset();
                                loadTable();
                            });
                        }
                        else
                        {
                                  swal({
                                type:"error",
                                title:"RESPONSABLE",
                                text:res.message
                            },function (){
                                reset();
                                loadTable();
                            });
                        }
                    },
                    error: function(res){
                        debugger
                        swal({
                            type:"error",
                            title:"RESPONSABLE",
                            text:res.message
                        },function (){
                            //reset();
                        });
                    }
                     });
                }
                else
                {
                    //district
                     $.ajax({
                    type:"POST",
                    async: true,
                    dataType: 'json',
                    url:"{{ path('InsertRespoDistrict') }}",
                    data: {value : responsable},
                    success:function(res){
                        debugger;
                        if (res.ok){

                            swal({
                                type:"success",
                                title:"RESPONSABLE",
                                text:"Enregistrement effectué avec succès"
                            },function (){
                                reset();
                                loadTable();
                            });
                        }
                        else{
                             swal({
                                type:"error",
                                title:"RESPONSABLE",
                                text:res.message
                            },function (){
                                reset();
                                loadTable();
                            });
                        }
                    },
                    error: function(res){
                        debugger
                        swal({
                            type:"error",
                            title:"RESPONSABLE",
                            text:"Echec de l'opération"
                        },function (){
                            //reset();
                        });
                    }

                });
                }
                }
                else
                {
                    swal({
                        type:"error",
                        title: "Responsable",
                        text: "Veuillez renseigner l'adresse email svp!"
                    });
                }


            });
             $.ajax({
                    type:"GET",
                    url:"{{ path("GetListeFormation") }}",
                    success:function(res){
                        debugger
                        var liste = JSON.parse(res.data);
                        if (liste.length>0){
                            $("#formation").empty();
                            var defaultline="<option value=0 selected>---Choisir une formation---</option>";
                            $("#formation").append(defaultline);
                            $.each(liste,function(i,n) {
                                debugger
                                var option = "<option value="+n.id+">"+n.libelle+"</option>";
                                $("#formation").append(option);
                            });
                        }else{

                        }

                            },
                    error:function(){

                    }

                });
            $("#reset").click(function(){

                swal({
                    title: 'Annulation',
                    text: "Etes-vous sûr de vouloir annuler ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui annuler!',
                    cancelButtonText:"Non"
                },function(res){
                    debugger
                    if(res==true)
                        reset();

                });



                //    reset();
            });
            function loadFonction(){
                $.ajax({
                    type:"GET",
                    url:"{{ path("GetListeFonction") }}",
                    success:function(res){
                        debugger
                        var liste = JSON.parse(res);
                        if (liste.length>0){
                            $("#fonction").empty();
                            var defaultline="<option value=selected>---Choisir une fonction---</option>";
                            $("#fonction").append(defaultline);
                            $.each(liste,function(i,n) {
                                debugger
                                var option = "<option value="+n.id+">"+n.Code+"</option>";
                                $("#fonction").append(option);
                            });
                        }else{

                        }

                            },
                    error:function(){

                    }

                });
            }

            function loadGroupe(){
                $.ajax({
                    type:"GET",
                    url:"{{ path("GetListGroupe") }}",
                    success:function(res){
                        debugger
                        //var liste = JSON.parse(res.data);
                        // if (liste.length>0){
                            $("#groupe").empty();
                            var defaultline="<option value=selected>---Choisir un groupe---</option>";
                            $("#groupe").append(defaultline);
                            $.each(res.data,function(i,n) {
                                debugger
                                var option = "<option value="+n.id+">"+n.Nom+"</option>";
                                $("#groupe").append(option);
                            });
                        // }else{

                        // }

                    },
                    error:function(){

                    }

                });
            }

        

            function LoadDistrict()
            {
                debugger
                $.get("/GetListDistrict",function(res)
                {
                    debugger
                    if(res)
                    {
                        $("#seldistrict").append("<option value=0 selected>---sélectionner un district---</option>");
                        let liste = JSON.parse(res.data);
                        $.each(liste,function(i,n){
                            debugger
                            $("#seldistrict").append("<option value="+n.id+">"+n.nom+"</option>");
                        });
                    }
                });
            }


$("#saveuser").click(function(){
    debugger
                var user = {
                   // username : $("#Username").val(),
                  //  roles : [],
                    // password : $("#password").val(),
                    // confirmpass : $("#confirmpass").val(),
                    respoid : $("#respoId").val()
                };

   
            $.ajax({
                type:"POST",
                url:"{{ path("Addutilisateur") }}",
                data: { 'value' : user},
                success:function(res)
                {
                     $("#modalcompte").modal("hide");
                    debugger
                    if (res.ok)
                    {
                        swal({
                            type:"success",
                            title:"Création d'utilisateur",
                            text:res.message
                        });
                    }else{
                        swal({
                            type:"error",
                            title:"Création d'utilisateur",
                            text: res.message
                        });
                    }
                },
                error: function(res)
                {
                     $("#modalcompte").modal("hide");
                }
            });
        
   




            });


            
        });

        function CreateUser(r, district)
            {
                debugger
                let url = "";
                if(district ==1)
                    url = "{{ path("AddUserFromDistrict") }}";
                else
                    url = "{{ path("Addutilisateur") }}";
                $("#modalcompte").modal("show");
                $("#respoId").val(r);
                 debugger
                var user = {
                   // username : $("#Username").val(),
                  //  roles : [],
                    // password : $("#password").val(),
                    // confirmpass : $("#confirmpass").val(),
                    respoid : r
                };

   
            $.ajax({
                type:"POST",
                url:url,
                data:  user,
                success:function(res)
                {
                     $("#modalcompte").modal("hide");
                    debugger
                    if (res.ok)
                    {
                        swal({
                            type:"success",
                            title:"Création d'utilisateur",
                            text:res.message
                        });
                    }else{
                        swal({
                            type:"error",
                            title:"Création d'utilisateur",
                            text: res.message
                        });
                    }
                },
                error: function(res)
                {
                     $("#modalcompte").modal("hide");
                }
            });
            }
    </script>
    
{% endblock %}