{% extends 'base_admin.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}
 


    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
{#                <h1>Color Table</h1>#}
                <nav aria-label="breadcrumb">
{#
                </nav>
            </div>
{#            <div class="col-md-6 col-sm-12 text-right hidden-xs">#}
{#                <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Ajouter un responsable</a>#}
{#            </div>#}
        </div>
    </div>

    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2 class="text-center" >Ajouter un utilisateur</h2>
                        </div>
                        <div class="body">

                            <div class="row">
                                <div class="col-lg-12">
                                    {# <form id="basic-form" method="post" novalidate> #}
                                     <div class="col-lg-12">
                                        <div class="col-lg-6">
                                               <label>District</label>
                                            <input type="text" class="form-control" required id="Nom">
                                        </div>
                                        <div class="col-lg-6">
                                               <label>District</label>
                                            <input type="text" class="form-control" required id="Nom">
                                        </div>
                                     </div>
                                        <div class="form-group">
                                         
                                        </div>
                                        <div class="form-group">
                                            <label>Responsable</label>
                                            <input type="text" class="form-control" required id="prenoms">
                                        </div>
                                        <div class="form-group">
                                            <label>Nom</label>
                                            <input type="date" class="form-control" required id="dob" max="">
                                        </div>
                                        <div class="form-group">
                                            <label>Fonction</label>
                                            <select id="fonction" class="form-control"></select>
                                        </div>

                                        <div class="form-group">
                                            <label>Pseudo</label>
                                            <select id="formation" class="form-control"></select>
                                        </div>

                                         <div class="form-group">
                                            <label>Mot de passe</label>
                                            <select id="formation" class="form-control"></select>
                                        </div>


                                        <br>

                                    {# </form> #}
                                </div>
                              
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-success" id="save">Enregistrer</button>
                                <button type="button" class="btn btn-danger" id="reset">Annuler</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>















<div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery-datatable/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/sweetalert/sweetalert.min.js') }}"></script>

    <script>
        $(document).ready(function(){
         //   reset();
            loadFonction();
            function reset(){
                $("#Nom").val('');
                $("#prenoms").val('');
                $("#dob").val('');
                $("#habitation").val('');
                $("#NomPere").val('');
                $("#NumPere").val('');
                $("#NomMere").val('');
                $("#NumMere").val('');
                $.ajax({
                    type:"GET",
                    url:"{{ path("GetListBranche")}}",
                    success:function(resp){
                        debugger
                        var defaultline = "<option value=selected>---selectionner branche---</option>";
                        $("#branche").val(defaultline);
                        var liste = JSON.parse(resp);
                        $.each(liste,function(i,n){
                            debugger
                            var line = "<option value="+n.id+">"+n.Libelle+"<option>";
                            $("#branche").append(line);

                        });
                    }
                });
            }
            $("#save").click(function(){
                //alert("hello");

                var  utilisateur={
                    loginname : $("#loginname").val(),
                    password : $("#password").val()
                };

                $.ajax({
                    type:"POST",
                    async: true,
                    dataType: 'json',
                    url:"{{ path('Addutilisateur') }}",
                    data: {value : utilisateur},
                    success:function(res){
                        debugger;
                        if (res==true){

                            swal({
                                type:"success",
                                title:"RESPONSABLE",
                                text:"Enregistrement effectué avec succès"
                            },function (){
                                reset();
                            });
                        }
                    }

                });


            });
            $("#reset").click(function(){

                swal({
                    title: 'Annulation',
                    text: "Etes-vous sûr de vouloir annuler ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Oui annuler!',
                    cancelButtonText:"Non"
                },function(res){
                    debugger
                    if(res==true)
                        reset();

                });



                //    reset();
            });
            function loadFonction(){
                {#$.ajax({#}
                {#    type:"GET",#}
                {#    url:"{{ path("GetListeFonction") }}",#}
                {#    success:function(res){#}
                {#        debugger#}
                {#        var liste = JSON.parse(res);#}
                {#        if (liste.length>0){#}
                {#            var defaultline="<option value=selected>---Choisir une fonction---</option>";#}
                {#            $("#fonction").append(defaultline);#}
                {#            $.each(liste,function(i,n) {#}
                {#                debugger#}
                {#                var option = "<option value="+n.id+">"+n.Code+"</option>";#}
                {#                $("#fonction").append(option);#}
                {#            });#}
                {#        }else{#}

                {#        }#}

                {#    },#}
                {#    error:function(){#}

                {#    }#}

                {#});#}



                $.ajax({
                    type:"GET",
                    url:"{{ path("GetListGroupe") }}",
                    success:function(res){
                        debugger
                        var liste = JSON.parse(res);
                        if (liste.length>0){
                            var defaultline="<option value=selected>---Choisir un groupe---</option>";
                            $("#groupe").append(defaultline);
                            $.each(liste,function(i,n) {
                                debugger
                                var option = "<option value="+n.id+">"+n.Libelle+"</option>";
                                $("#groupe").append(option);
                            });
                        }else{

                        }

                    },
                    error:function(){

                    }

                });
            }

        });
    </script>
{% endblock %}