{% extends 'base.html.twig' %}

{% block titre %}LISTE DES RESPONSABLES {% endblock %}
{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset("assets/vendor/sweetalert/sweetalert.css") }}"/>
    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css") }}">
{#{% endblock %}#}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .bd-example-modal-lg .modal-dialog{
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }

    .bd-example-modal-lg .modal-dialog .modal-content{
        background-color: transparent;
        border: none;
    }
</style>
{% endblock %}

{% block body %}

    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
{#                <h1>Color Table</h1>#}
{#                <nav aria-label="breadcrumb">#}
{#                    <ol class="breadcrumb">#}
{#                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-cube"></i></a></li>#}
{#                        <li class="breadcrumb-item"><a href="#">Liste des responsables</a></li>#}
{#                        <li class="breadcrumb-item active" aria-current="page">Color Table</li>#}
{#                    </ol>#}
{#                </nav>#}
            </div>
            <div class="col-md-6 col-sm-12 text-right hidden-xs">
{#                <a href="{{ path("AjouterRespoView") }}" class="btn btn-sm btn-primary" title="">Ajouter un responsable</a>#}
            </div>
        </div>
    </div>
       <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2 class="text-center">Liste des responsables</h2>
            </div>
            <div class="body">
            <div class="row">
                <a class="btn btn-primary" href="{{path("ExportResponsableByGroupeToExcelAttachment")}}">Export Excel</a>
            </div>
                <div class="table-responsive">
                    <table class="table" id="tbrespo">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Nom & Prénoms</th>
                            <th>Date de naissance</th>
                            <th>Téléphone</th>
                            <th>Fonction</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
             </div>
   </div>
       </div>












    <div class="modal fade" id="modalmodif" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modifications du responsable</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <input type="hidden" id="respoId">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form id="basic-form" method="post" novalidate>
                                                        <div class="form-group">
                                                            <label>Nom</label>
                                                            <input type="text" class="form-control" required id="Nom">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Prénoms</label>
                                                            <input type="text" class="form-control" required id="prenoms">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Date de naissance</label>
                                                            <input type="date" class="form-control" required id="dob">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Fonction</label>
                                                            <select id="fonction" class="form-control"></select>
                                                        </div>
                                        
                                        
                                        
                                                        <br>
                                        
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <form id="basic-form" method="post" novalidate>
                                                        <div class="form-group">
                                                            <label>Lieu d'habitation</label>
                                                            <input type="text" class="form-control" required id="habitation">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Occupation</label>
                                                            <input type="text" class="form-control" required id="occupation">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Téléphone</label>
                                                            <input type="text" class="form-control" required id="telephone">
                                                        </div>
                                        
{#                                                        <div class="form-group">#}
{#                                                            <label>Groupe</label>#}
{#                                                            <select id="groupe" class="form-control"></select>#}
{#                                                        </div>#}
{#                                        #}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Annuler</button>
                                            <button type="button" id="saveModif" class="btn btn-round btn-primary">Enregistrer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


    <div class="modal fade" id="modalcompte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifications du responsable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" id="respoId">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="basic-form" method="post" novalidate>
                                <div class="form-group">
                                    <label>Nom Utilisateur</label>
                                    <input type="text" class="form-control" required id="Username">
                                </div>
                                <div class="form-group">
                                    <label>Mot de passe</label>
                                    <input type="password" class="form-control" required id="password">
                                </div>

                                                     <br>

                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form id="basic-form" method="post" novalidate>
                                <div class="form-group">
                                    <label>Profil</label>
                                    <select class="form-control" id="role">
                                        <option value="0">---choisir un profil---</option>
                                        <option value="ROLE_SUPERADMIN">Super Administrateur</option>
                                        <option value="ROLE_ADMIN">Administrateur</option>
                                        <option value="ROLE_CONSULTANT">Consultant</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Confirmer mot de passe</label>
                                    <input type="password" class="form-control" required id="confirmpass">
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" id="saveuser" class="btn btn-round btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>






    <div class="modal modal_load fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </div>
        </div>
    </div>





{% endblock %}
{% block javascripts %}

    <script src="{{ asset('assets/vendor/jquery-datatable/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset("assets/vendor/sweetalert/sweetalert.min.js")}} "></script>
    <script src="{{ asset("assets/bundles/datatablescripts.bundle.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.html5.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.print.min.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script>
        $(document).ready(function(){
            debugger
            var table = $("#tbrespo").DataTable({
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    }
                },
                columns: [
                    { "data": "ID" },
                    { "data": "NOMPRENOMS" },
                    { "data": "DOB" },
                    { "data": "TELEPHONE" },
                    { "data": "FONCTION" },
                    { "data": "ACTION" }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    }],
                // dom:'Bfrtip',
                // buttons: [

                //     {
                //         extend: 'print',
                //         text:'Imprimer',
                //         messageTop: function () {
                //             return 'Liste des responsables'
                //         },
                //         messageBottom: null
                //     },
                //     {
                //         extend: 'pdfHtml5',
                //         orientation: 'portrait',
                //         pageSize: 'LEGAL',
                //         title:'Liste des Responsables',
                //         exportOptions:{
                //             columns:[0,1,2,3,4]
                //         },
                //         customize: function(doc) {
                //             //doc.content[1].margin = [ 100, 0, 100, 0 ] //left, top, right, bottom
                //         }
                //     }

                // ],
                data: [],
                rowCallback: function (row, data) { },
                filter: true,
                info: true,
                ordering: false,
                processing: false,
                retrieve: true
            });
            var respoId = null;
            debugger


            function loading()
            {
                $('.modal_load').modal('show');

            }
            function loadingClose()
            {
                $('.modal_load').modal('hide');

            }


 function convertDate(dateToConvert){
         var dateAr = dateToConvert.split('-');
       
        var newDate =  dateAr[2].substring(0,2)  + '-' + dateAr[1]+ '-' + dateAr[0];
        return newDate;
     }
            loadData();
            function loadData(){
                loading();
                $.ajax({
                    type:"GET",
                    url:"{{ path("GetListResponsable")}}",
                    success:function(resp){
                        debugger
                        loadingClose();
                        table.clear().draw();
                        var liste = JSON.parse(resp);
                        $.each(liste,function(i,n){
                            debugger

                            //alert(n.Nom);
                            table.rows.add([{
                                "ID":n.id,
                                "NOMPRENOMS":n.nom + " " + n.prenoms,
                                "DOB":convertDate(n.dob) ,
                                "TELEPHONE" : n.telephone,
                                "FONCTION" : n.fonction,
                                // "ACTION" :"<a id='update'><span><i class='fa fa-pencil fa-2x'></i></span></a>|<a id='delete'><span><i class='fa fa-trash fa-2x'></i></span></a>|<a id='add'><span><i class='fa fa-plus fa-2x'></i></span></a>"
                                "ACTION" :"<a id='delete'><span><i class='fa fa-trash fa-2x'></i></span></a>|<a id='add'><span><i class='fa fa-plus fa-2x'></i></span></a>"

                            }]).draw();

                        });
                    },
                    error: function(resp){
                        loadingClose();
                    }
                });
              //  loadingClose();
            }


            $("#annuler").click(function(){
                swal({
                    type:"Question",
                    title: "ANNEE PASTORALE",
                    text:"Etes vous sûr de vouloir annuler ?"

                });
            });


$("#tbrespo tbody").on('click', ' tr > td > a[id=update]', function(){
    debugger
    var row = table.row( $(this).parents('tr') ).data();
    //var row = table.row().data();
    var ID = row.ID;
    loading();
    $.ajax({
        type:"GET",
        url:"{{ path("GetRespoUnique") }}",
        data:{ value : ID},
        success: function(res){
            debugger
            if(res!=null){
                loadingClose();
                var liste = JSON.parse(res);
             //   var date = Date.parse(liste.Dob);
                $("#respoId").val(liste.id);
                $("#Nom").val(liste.Nom);
                $("#prenoms").val(liste.Prenoms);
                $("#dob").val(liste.dateNaiss);
                $("#occupation").val(liste.Occupation);
                $("#telephone").val(liste.Telephone);
                $("#habitation").val(liste.Habitation);
                $("#fonction").val(liste.fonctionId);
                $("#modalmodif").modal('show');
            }
        },
        error: function(){
            
        }
    });


});
$.ajax({
                type:"GET",
                url:"{{ path("GetListeFonction")}}",
                success:function(resp){
                    debugger
                    $("#fonction").empty();
                    var liste = JSON.parse(resp);
                    $.each(liste,function(i,n){
                        debugger
                        var line = "<option value="+n.id+">"+n.Code+"</option>";
                        $("#fonction").append(line);
                    });
                }
            });
$("#tbrespo tbody").on('click',' tr > td > a[id=delete]',function (){
                debugger
                var row = table.row( $(this).parents('tr') ).data();
                var ID = row.ID;
                swal({
                    type:"warning",
                    title:"RESPONSABLE",
                    text:"Voulez vous vraiment supprimer ce chef ?",
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    cancelButtonText:"Non",
                    confirmButtonText: 'Oui, Supprimer!',
                    confirmCancelText: 'Non!'
                },(function (res){
                    debugger
                    if (res==false)return;
                    else{
                        loading();
                        $.ajax({
                            type:"GET",
                            url:"{{ path('supprimerResponsable') }}",
                            data:{id: ID},
                            success:function(res){
debugger
                                loadingClose();
                                if(res="succes"){
                                    swal({
                                        type:"success",
                                        title:"RESPONSABLE",
                                        text: "Responsable supprimé avec succès"
                                    },function(){
                                       loadData();

                                    });

                                }
                            },
                            error: function (res){

                            }
                        })

                    }
                }));
            });
$("#saveuser").click(function(){
    debugger
                var user = {
                    username : $("#Username").val(),
                    roles : [],
                    password : $("#password").val(),
                    confirmpass : $("#confirmpass").val(),
                    respoid : respoId
                };

    if (user.username =="" || user.password=="" || user.confirmpass=="" || $("#role").val()==0)
    {
        swal({
           type:"warning",
           title:"",
           text: "Certains champs sont vide!"
        });
    }
    else
    {
        if (user.password == user.confirmpass)
        {
            user.roles.push($("#role").val());
            $.ajax({
                type:"POST",
                url:"{{ path("Addutilisateur") }}",
                data: { 'value' : user},
                success:function(res)
                {
                    debugger
                    if (res=='success')
                    {
                        swal({
                            type:"success",
                            title:"",
                            text:"Opération effectuée avec succès"
                        });
                    }else{
                        swal({
                            type:"error",
                            title:"",
                            text: res
                        });
                    }
                },
                error: function(res)
                {

                }
            });
        }
        else
        {
            swal({
                type:"error",
                title:"",
                text:"Les mots de passes ne concordent pas"
            });
        }
    }




            });
$("#tbrespo tbody").on('click',' tr > td > a[id=add]',function (){
                debugger
                $("#modalcompte").modal("show");
                var row = table.row( $(this).parents('tr') ).data();
                respoId = row.ID;

            });
        });
    </script>
{% endblock %}