{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css') }}"/>
    {#    <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}"/>#}
    <link rel="stylesheet" href="{{ asset("assets/vendor/sweetalert/sweetalert.css") }}"/>

    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css") }}">
    <style>
        .bd-example-modal-lg .modal-dialog{
            display: table;
            position: relative;
            margin: 0 auto;
            top: calc(50% - 24px);
        }

        .bd-example-modal-lg .modal-dialog .modal-content{
            background-color: transparent;
            border: none;
        }
    </style>
{% endblock %}
{% block titre %} Liste des chefs cotisés {% endblock %}

{% block body %}
    <div class="modal modal_load fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </div>
        </div>
    </div>


    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
                {#                <h1>Color Table</h1>#}
                {#                <nav aria-label="breadcrumb">#}
                {#                    <ol class="breadcrumb">#}
                {#                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-cube"></i></a></li>#}
                {#                        <li class="breadcrumb-item"><a href="#">Tables</a></li>#}
                {#                        <li class="breadcrumb-item active" aria-current="page">Color Table</li>#}
                {#                    </ol>#}
                {#                </nav>#}
            </div>
            {#            <div class="col-md-6 col-sm-12 text-right hidden-xs">#}
            {#                <a href="javascript:void(0);" class="btn btn-sm btn-primary" title="">Create Campaign</a>#}
            {#            </div>#}
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2 class="text-center">Liste des responsables Cotisés</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table" id="tbjeune">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>MATRICULE</th>
                            <th>NOM</th>
                            <th>PRENOMS</th>
{#                            <th>DATE DE NAISSANCE</th>#}
                            <th>TELEPHONE</th>
{#                            <th>ACTION</th>#}
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>









{% endblock %}


{% block javascripts %}
    <script src="{{ asset('assets/vendor/jquery-datatable/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset("assets/vendor/sweetalert/sweetalert.min.js")}} "></script>


    <script src="{{ asset("assets/bundles/datatablescripts.bundle.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.html5.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.print.min.js") }}"></script>
    <script>
        $(document).ready(function(){
            debugger
            var jeuneId = "";
            var table = $("#tbjeune").DataTable({
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucune Cotisation enregistree",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    }
                },
                columns: [
                    { "data": "ID" },
                    { "data" : "MATRICULE"},
                    { "data": "NOM" },
                    { "data": "PRENOMS" },
                   // { "data": "DOB" },
                    { "data": "TELEPHONE" },
                   // { "data": "ACTION" }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    }],
                data: [],
                rowCallback: function (row, data) { },
                filter: true,
                info: true,
                ordering: false,
                processing: false,
                retrieve: true
            });
            debugger
            loadData();
            function loadData(){
                loading();
                $.ajax({
                    type:"GET",
                    url:"{{ path("GetListeRespoCotise")}}",
                    success:function(resp){
                        debugger
                        if(resp=="[]"){
                            var dd =table.language.zeroRecords;
                            table.clear().draw();
                            loadingClose();
                          swal({
                                title:'',
                                text:'Aucun enregistrement trouvé'
                            },function(){
                                loadingClose()
                            });
                        }
                        else
                        {
                            table.clear().draw();
                            var liste = JSON.parse(resp);
                            $.each(liste,function(i,n){

                                debugger
                                //alert(n.Nom);
                                table.rows.add([{
                                    "ID":n.id,
                                    "MATRICULE" : n.Matricule,
                                    "NOM":n.Nom,
                                    "PRENOMS":n.Prenoms ,
                                    // "DOB": n.DateNaiss,
                                    "TELEPHONE" :n.Telephone,
                                    // "ACTION" :"<button id='cotisation' class='btn btn-success'>Cotisation</button>"

                                }]).draw();
                            });
                            loadingClose();
                        }
                        loadingClose();
                    }
                });

            }
            function loading()
            {
                $('.modal_load').modal('show');

            }
            function loadingClose()
            {
                $('.modal_load').modal('hide');

            }


            $("#tbjeune tbody").on('click',' tr > td > button[id=cotisation]',function (){
                debugger
                var row = table.row( $(this).parents('tr') ).data();
                var ID = row.ID;
                jeuneId = ID;
                $("#modalmodif").modal("show");

            });

            function reset(){
                $("#Nom").val('');
                $("#prenoms").val('');
                $("#dob").val('');
                $("#habitation").val('');
                $("#occupation").val();
                $("#phone").val('');
                $("#NomPere").val('');
                $("#NumPere").val('');
                $("#NomMere").val('');
                $("#NumMere").val('');
                $("#modalmodif").modal('hide');
            }
            $("#saveCotisation").click(function(){
                debugger
                var matricule = $("#matricule").val();
                if (matricule==""){
                    swal({
                        title:"",
                        type:"warning",
                        text:"Veuillez remplir le champ matricule svp !"
                    });
                }else{
                    $.ajax({
                        type:"POST",
                        url:"{{ path('SaveCotisation') }}",
                        data:{"value" : JSON.stringify(matricule), "JeuneId" : JSON.stringify(jeuneId)},
                        success:function(res){
debugger
                            if (res=="success"){
                                swal({
                                    title : "",
                                    type:"success",
                                    text:"Opération effectuée avec succès"
                                })
                            }else{
                                swal({
                                    type:"error",
                                    text:"Echec de l'opération"
                                })
                            }
                        },
                        error:function(res){

                        }

                    });
                }
            });



        });
    </script>
{% endblock %}