{% extends 'base.html.twig' %}

{% block titre %}ACTIVITE {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/vendor/sweetalert/sweetalert.css") }}"/>
    {# <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> #}
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container-fluid">
           
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-center">AJOUTER UNE ACTIVITE</h2>
                    </div>
                    <div class="body">
                 <div class="row">
                      <div class="col-md-12">
                            <div class="form-group">
                                <label>Libellé de l'activité</label>
                                <input type="text" class="form-control" required id="nom" placeholder="Nom de l'activité">
                            </div>
                      </div>

                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Description</label>
                               <textarea class="form-control" id="description" rows="5"></textarea>
                            </div>

                        </div>

                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Localisation</label>
                                    <input type="text" class="form-control"  id="localisation" placeholder="Localisation">
                                </div>
                            </div>

                      

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date Début</label>
                                    <input type="date" class="form-control" required id="datedebut" placeholder="Date début">
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label>Date Fin</label>
                                    <input type="date" class="form-control" required id="datefin" placeholder="Date Fin">
                                </div>

                            </div>

                        </div>



                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Heure début</label>
                                    <input type="time" class="form-control" required id="heuredebut" placeholder="Heure début">
                                </div>
                            </div>

                           <div class="col-md-6">
                                <div class="form-group">
                                    <label>Heure fin</label>
                                    <input type="time" class="form-control" required id="heurefin" placeholder="Heure fin">
                                </div>
                            </div>

                        </div>

                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Cible</label>
                                   <select class="form-control" id="selcible">
                                   <option value="selected">---sélectionner cible---</option>
                                    <option value="0">Groupe</option>
                                    <option value="1">Branche</option>
                                   </select>
                                    
                                       
                                    
                                </div>
                            </div>
                   

                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Groupe</label>
                                   <select class="form-control" id="selgroupe">
                                    <option>---sélectionner votre groupe---</option>
                                   </select>
                                    
                                       
                                    
                                </div>
                            </div>
                                 
                           <div class="col-md-6">
                                <div class="form-group">
                                    <label>Branche</label>
                                    <select class="form-control" id="selbranche">
                                        <option>---sélectionner une branche---</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                       
                        
                    



                        
                        <div class="row">
                          
                        </div>





                 


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre de participant</label>
                                    <input type="number" class="form-control" required id="nbre" placeholder="Nbre participant">
                                </div>
                            </div>

                           <div class="col-md-6">
                                <div class="form-group">
                                    <label>Coût (F CFA)</label>
                                    <input type="number" step="0" class="form-control" required id="prix" placeholder="Coût de l'activité">
                                </div>
                            </div>

                        </div>
                        <div class="text-center"> 
                            <button type="submit" class="btn btn-success" id="valider">Valider</button>
                            <button type="submit" class="btn btn-danger">Annuler</button>
                        </div>
                            
                        
                    </div>
                </div>
            </div>
          
        </div>
        
    </div>
    
    <input type="hidden" value="{{groupe}}" id="gr" disabled> 
{#     
<div class="col-lg-12">
    <div class="card">
        <div class="header">
            <h2>Liste des jeunes</h2>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table" id="tbFonction">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOM</th>
                            <th>NICKNAME</th>
                            <th>REGION</th>
                            <th>PAROISSE</th>
                            <th>TELEPHONE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                   <tbody>

                   </tbody>
                </table>
            </div>
        </div>
    </div>
</div> #}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('assets/vendor/jquery-datatable/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset("assets/vendor/sweetalert/sweetalert.min.js")}} "></script>
<script>
    $(document).ready(function(){
        debugger
   
            $("#selgroupe").attr('disabled','disabled');
            $("#selbranche").attr('disabled','disabled');
            $("#selcible").change(function(){
                debugger
               
                if($(this).val()=="1")
                {
                   $("#selbranche").removeAttr('disabled');
                   $("#selgroupe").attr('disabled','disabled');
                }
                else if($(this).val()=="0"){
                      $("#selgroupe").removeAttr('disabled');
                   $("#selbranche").attr('disabled','disabled');
                }
                    
            })
          // $('.js-example-basic-multiple').select2();
              $.ajax({
                type:"GET",
                url:"{{ path("GetListBranche")}}",
                success:function(resp){
                    debugger
                    $("#selbranche").empty();
                    var defaultline = '<option value=selected>---selectionner branche---</option>';
                    $("#selbranche").append(defaultline);
                    var liste = JSON.parse(resp);
                    $.each(liste,function(i,n){
                        debugger
                        var line = '<option value='+n.id+'>'+n.Libelle+'</option>';
                        $("#selbranche").append(line);

                    });
                }
            });
                 $.ajax({
                type:"GET",
                url:"{{ path("GetListGroupe")}}",
                success:function(resp){
                    debugger
                    $("#selgroupe").empty();
                    var defaultline = '<option value=selected>---selectionner groupe---</option>';
                    $("#selgroupe").append(defaultline);
                   // var liste = JSON.parse(resp);
                    $.each(resp.data,function(i,n){
                        debugger
                        var line = '<option value='+n.id+'>'+n.Nom+'</option>';
                        $("#selgroupe").append(line);

                    });
                    $("#selgroupe").val($("#gr").val());
                }
            });
     $("#valider").click(function(){
         debugger   
            let acitivy = {
                    Nom:$("#nom").val(),
                    Description:$("#description").val(),
                    Localisation:$("#localisation").val(),
                    DateDebut:$("#datedebut").val(),
                    DateFin:$("#datefin").val(),
                    HeureDebut:$("#heuredebut").val(),
                    HeureFin:$("#heurefin").val(),
                    Statut:0,
                    Autorisation:"",
                    NbreParticipant:$("#nbre").val(),
                    Prix:$("#prix").val(),
                    Groupe:$("#selgroupe").val(),
                    Branche:$("#selbranche").val() == "selected" ? '' : $("#selbranche").val()  ,
                    Cible: $("#selcible").val()
            };
          $.ajax({
              type:"POST",
              url:"{{ path('CreateActivite') }}",
              data:{value: acitivy},
              success:function(res){
                  debugger
                  if(res.ok == true)
                  {
                      debugger
                      swal({
                          type:"success",
                          title:"Ajout d'une activité",
                          text: res.message
                      });
                  }
                  else{
                      debugger
                       swal({
                          type:"error",
                          title:"Ajout d'une activité",
                          text: res.message
                      });
                  }
              },
              error:function(res)
              {
                debugger    
                swal({
                          type:"error",
                          title:"Ajout d'une activité",
                          text: res.responseText
                      });
              }
          })
            
        })

$("#logo").change(function(){
    debugger
    readURL(this);
});

    });
</script>
{% endblock %}