{% extends 'base.html.twig' %}

{% block titre %}LISTE DES ACTIVITES {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/vendor/sweetalert/sweetalert.css") }}"/>
{#    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css") }}">#}
{#    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css") }}">#}
{#    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css") }}">#}
{#{% endblock %}#}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .bd-example-modal-lg .modal-dialog{
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }

    .bd-example-modal-lg .modal-dialog .modal-content{
        background-color: transparent;
        border: none;
    }
</style>
{% endblock %}

{% block body %}

    <div class="block-header">
        <div class="row clearfix">
            <div class="col-md-6 col-sm-12">
{#                <h1>Color Table</h1>#}
{#                <nav aria-label="breadcrumb">#}
{#                    <ol class="breadcrumb">#}
{#                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-cube"></i></a></li>#}
{#                        <li class="breadcrumb-item"><a href="#">Liste des responsables</a></li>#}
{#                        <li class="breadcrumb-item active" aria-current="page">Color Table</li>#}
{#                    </ol>#}
{#                </nav>#}
            </div>
            <div class="col-md-6 col-sm-12 text-right hidden-xs">
{#                <a href="{{ path("AjouterRespoView") }}" class="btn btn-sm btn-primary" title="">Ajouter un responsable</a>#}
            </div>
        </div>
    </div>
       <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2 class="text-center">Liste des activités</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table" id="tbactivites">
                        <thead class="thead-light">
                        <tr>
                            <th>ID</th>
                            <th>Libelle</th>
                            <th>Groupe</th>
                            <th>Branche</th>
                            <th>Date Debut</th>
                            <th>Date Fin</th>
                            <th>Prix</th>
                            <th>Participant</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
             </div>
   </div>
       </div>












    <div class="modal fade" id="modalmodif" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modifications du responsable</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <input type="hidden" id="respoId">
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <form id="basic-form" method="post" novalidate>
                                                        <div class="form-group">
                                                            <label>Nom</label>
                                                            <input type="text" class="form-control" required id="Nom">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Prénoms</label>
                                                            <input type="text" class="form-control" required id="prenoms">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Date de naissance</label>
                                                            <input type="date" class="form-control" required id="dob">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Fonction</label>
                                                            <select id="fonction" class="form-control"></select>
                                                        </div>
                                        
                                        
                                        
                                                        <br>
                                        
                                                    </form>
                                                </div>
                                                <div class="col-lg-6">
                                                    <form id="basic-form" method="post" novalidate>
                                                        <div class="form-group">
                                                            <label>Lieu d'habitation</label>
                                                            <input type="text" class="form-control" required id="habitation">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Occupation</label>
                                                            <input type="text" class="form-control" required id="occupation">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Téléphone</label>
                                                            <input type="text" class="form-control" required id="telephone">
                                                        </div>
                                        
{#                                                        <div class="form-group">#}
{#                                                            <label>Groupe</label>#}
{#                                                            <select id="groupe" class="form-control"></select>#}
{#                                                        </div>#}
{#                                        #}
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Annuler</button>
                                            <button type="button" id="saveModif" class="btn btn-round btn-primary">Enregistrer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


    <div class="modal fade" id="modalcompte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modifications du responsable</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" id="respoId">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="basic-form" method="post" novalidate>
                                <div class="form-group">
                                    <label>Nom Utilisateur</label>
                                    <input type="text" class="form-control" required id="Username">
                                </div>
                                <div class="form-group">
                                    <label>Mot de passe</label>
                                    <input type="password" class="form-control" required id="password">
                                </div>

                                                     <br>

                            </form>
                        </div>
                        <div class="col-lg-6">
                            <form id="basic-form" method="post" novalidate>
                                <div class="form-group">
                                    <label>Profil</label>
                                    <select class="form-control" id="role">
                                        <option value="0">---choisir un profil---</option>
                                        <option value="ROLE_SUPERADMIN">Super Administrateur</option>
                                        <option value="ROLE_ADMIN">Administrateur</option>
                                        <option value="ROLE_CONSULTANT">Consultant</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Confirmer mot de passe</label>
                                    <input type="password" class="form-control" required id="confirmpass">
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Annuler</button>
                    <button type="button" id="saveuser" class="btn btn-round btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>






    <div class="modal modal_load fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" style="width: 48px">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
            </div>
        </div>
    </div>





{% endblock %}
{% block javascripts %}

    <script src="{{ asset('assets/vendor/jquery-datatable/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset("assets/vendor/sweetalert/sweetalert.min.js")}} "></script>
    <script src="{{ asset("assets/bundles/datatablescripts.bundle.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.html5.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.print.min.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script>
        $(document).ready(function(){
            debugger
            var table = $("#tbactivites").DataTable({
                language: {
                    processing: "Traitement en cours...",
                    search: "Rechercher&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    }
                },
                columns: [
                    { "data": "ID" },
                    { "data": "LIBELLE" },
                    { "data": "GROUPE" },
                    { "data": "BRANCHE" },
                    { "data": "DEBUT" },
                    { "data": "FIN" },
                    { "data": "PRIX" },
                    { "data": "NBRE" },
                    { "data": "ACTION" }
                ],
                columnDefs: [
                    {
                        targets: 0,
                        visible: false
                    }],
                dom:'Bfrtip',
                buttons: [

                    {
                        extend: 'print',
                        text:'Imprimer',
                        messageTop: function () {
                            return 'Liste des responsables'
                        },
                        messageBottom: null
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'portrait',
                        pageSize: 'LEGAL',
                        title:'Liste des Responsables',
                        exportOptions:{
                            columns:[0,1,2,3,4]
                        },
                        customize: function(doc) {
                            //doc.content[1].margin = [ 100, 0, 100, 0 ] //left, top, right, bottom
                        }
                    }

                ],
                data: [],
                rowCallback: function (row, data) { },
                filter: true,
                info: true,
                ordering: false,
                processing: false,
                retrieve: true
            });
         

         $.ajax({
             type:"GET",
             url:"{{path("ListActivites")}}",
             success:function(res){
                 debugger
                 if (res.ok == true) {
                     let liste = JSON.parse(res.data);
                     $.each(liste,function(i,n){
                         table.rows.add([{
                    "ID" :n.id,
                   "LIBELLE":n.nomactivite,
                    "GROUPE" :n.nomgroupe,
                    "BRANCHE" :n.nombranche,
                     "DEBUT" :n.date_debut,
                     "FIN" :n.date_fin,
                      "PRIX" :n.prix+" F CFA",
                       "NBRE" :n.nbre_participant,
                    "ACTION" :"<input type='button' id='details' class='btn btn-success' value='voir details' /><input type='button' id='programme' value='Programme' class='btn btn-success'/>"
                         }]).draw();
                     })
                 }
             }
         })

     
        $("#tbactivites").on('click','tbody > tr > td > input[id=programme]',function (){
            debugger
            var row = table.row( $(this).parents('tr') ).data();
            var ID = row.ID;
            $.ajax({
                type:"GET",
                url:"{{ path("redirectToProgramme") }}",
                data:{"value":ID},
                success:function(res){
                    debugger
                   window.location=res.url;

                },
                error:function(res){

                }

            });
        });


        });
    </script>
{% endblock %}