{% extends 'base.html.twig' %}

{% block titre %}LISTE DES ACTIVITES {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/vendor/sweetalert/sweetalert.css") }}"/>
{#    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css") }}">#}
{#    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css") }}">#}
{#    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css") }}">#}
{#{% endblock %}#}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .bd-example-modal-lg .modal-dialog{
        display: table;
        position: relative;
        margin: 0 auto;
        top: calc(50% - 24px);
    }

    .bd-example-modal-lg .modal-dialog .modal-content{
        background-color: transparent;
        border: none;
    }
</style>
{% endblock %}
{% block body %}
    <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="alert alert-primary text-center " role="alert">
                       <h6>Détails du programme de l'activité <strong>{{acitivityName}}</strong></h6>
                    </div>

                  
                       <div class="col-lg-12 col-md-12 text-right">
                        <a class="btn btn-success" href="{{path("details",{id:activityid}) }}">Ajouter programme</a>
                       </div>


                    <div class="col-lg-12 col-md-12 text-center">
                         {% if emptyCheck== false %}
                        <p>Aucun programme ajouté a cette activité</p>
                    {% endif %}
                       </div>


                    <div class="table-responsive mt-3">
                        <table class="table table-hover table-custom spacing5">
                            <tbody>

                                {% for details in allProgrammes%}
                                <tr>
                                  <td>
                                        <a href="#">{{details.libelledetails}}</a>
                                        <p class="mb-0 text-muted">Date: {{details.datedetails}}</p>
                                    </td>
                                    <td class="text-right">
                                        <h6 class="font-14 mb-0">Statut</h6>
                                        <span class="text-muted">{{details.statut}}</span>
                                    </td>
                                    <td class="w350">
                                    <h6 class="font-14 mb-0">Déroulement</h6>
                                        <span class="text-muted">{{details.deroulement}}</span>
                                    </td>
                                       <td class="w350">
                                    <h6 class="font-14 mb-0">Action</h6>
                                        <span class="text-muted"><button class="btn btn-primary">Details</button></span>
                                    </td>
                                </tr>
                                <p></>
                                {%endfor%}

                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


 








{% endblock %}
{% block javascripts %}

 
{% endblock %}