{% extends 'base_district.html.twig' %}

{% block titre %}ACTIVITES {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("assets/vendor/sweetalert/sweetalert.css") }}"/>
    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css") }}">
    <link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css") }}">
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="container-fluid">
           
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h2 class="text-center">Liste des activités</h2>
                    </div>
                    <div class="body">


                        <div class="row g-3 align-items-center">
						  <div class="col-2">
						    <label for="inputPassword6" class="col-form-label">Groupe</label>
						  </div>
						  <div class="col-6">
						    <select class="form-control" id="selgroupe">
						    	<option>---sélectionner un groupe---</option>
						    </select>
						    
							
						  </div>
						   <div class="col-4">
						  	<button class="btn btn-outline-success" id="btnrechercher">Rechercher</button>
						  	<button class="btn btn-outline-danger" id="btncancel">Annuler</button>
						    
							
						  </div>
						 
						</div>


                        
                    </div>
                </div>
            </div>
          
        </div>
        
    </div>
    
<div class="col-lg-12">
    <div class="card">
        <div class="header">
            <h2 class="text-center" id="title">Liste des chefs</h2>
        </div>
        <div class="body">
            <div class="table-responsive">
                <table class="table" id="tbchef">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom</th>
                            <th>Groupe</th>
                            <th>Période</th>
                            <th>Prix</th>
                            <th>Participants</th>
                             <th>Statut</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                   <tbody>

                   </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


     <div class="modal fade" id="modaldecision" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Décision</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            
                        <div class="row g-3 align-items-center">
						  <div class="col-2">
						    <label for="inputPassword6" class="col-form-label">Décision</label>
						  </div>
						  <div class="col-8">
						    <select class="form-control" id="seldecision">
						    	<option>---sélectionner une décision---</option>
                                <option val=0>Accepter</option>
                                <option val=1>Refuser</option>
                             
						    </select>
						    
							
						  </div>
				
						 
						</div>
<br/>
                         <div class="row g-3 align-items-center div_decision" >
						  <div class="col-2">
						    <label for="inputPassword6" class="col-form-label">Décision</label>
						  </div>
                          <div class="col-10">
                                <textarea row="5" class="form-control" id="txtcommentaire"></textarea>
                          </div>
					
						 
						</div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-round btn-default" data-dismiss="modal">Fermer</button>
                                            <button type="button" class="btn btn-round btn-primary" id="btnvalider">Valider</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
{% endblock %}
{% block javascripts %}

<script src="{{ asset('assets/vendor/jquery-datatable/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset("assets/vendor/sweetalert/sweetalert.min.js")}} "></script>


    <script src="{{ asset("assets/bundles/datatablescripts.bundle.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.html5.min.js") }}"></script>
    <script src="{{ asset("assets/vendor/jquery-datatable/buttons/buttons.print.min.js") }}"></script>
<script>
    $(document).ready(function(){
        debugger
        let idactivite
        $(".div_decision").hide();
        // GetListGroupe();
        $("#btnupdate").hide();
      var table = $("#tbchef").DataTable({
          language: {
              processing: "Traitement en cours...",
              search: "Rechercher&nbsp;:",
              lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
              info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
              infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
              infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
              infoPostFix: "",
              loadingRecords: "Chargement en cours...",
              zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
              emptyTable: "Aucune donnée disponible dans le tableau",
              paginate: {
                  first: "Premier",
                  previous: "Pr&eacute;c&eacute;dent",
                  next: "Suivant",
                  last: "Dernier"
              }
          },
          columns: [
              { "data": "ID" },
              { "data": "NOM" },
              { "data": "GROUPE" },
              { "data": "PERIODE" },
              { "data": "PRIX" },
             { "data": "NBRE" },
              { "data": "STATUT" },
            { "data": "ACTION" }
          ],
          columnDefs: [
              {
                  targets: 0,
                  visible: false
              }],
          data: [],
          rowCallback: function (row, data) { },
          filter: true,
          info: true,
          ordering: false,
          processing: false,
          retrieve: true
      });




$("#btnrechercher").click(function(){
    debugger
 //   var stage = $("#selformation").val();
    var groupe = $("#selgroupe").val();
    $.get("{{path('ActivitesByGroupeDistrict')}}",{"groupe":groupe},function(res){
        debugger
        if (res.ok == true) {
            debugger
            table.clear().draw();
            $.each(res.data, function(i,n){
                debugger
                  var datedebut = convertDate(n.date_debut)
                  var datefin = convertDate(n.date_fin)
                  var statut = "";

                  if(n.statut == "0")
                    statut = '<span class="badge badge-primary">Initier</span>'
                  else if(n.statut == "1")
                    statut = '<span class="badge badge-success">Accepter</span>'
                  else if(n.statut=="2")
                    statut = '<span class="badge badge-danger">Réfusé</span>'
                    
                table.rows.add([{
                    "ID" : n.id,
                    "NOM" :n.nomactivite,
                    "GROUPE" :n.nomgroupe,
                    "PERIODE" :datedebut+" au "+datefin,
                    "PRIX" :n.prix,
                    "NBRE" :n.nbre_participant,
                    "STATUT" :statut,
                    "ACTION" :"<button class='btn btn-outline-success btndetails'>Détails</button>|<button class='btn btn-outline-danger btndecision'>Décision</button>",
                    // "ACTION" :""
                }]).draw();
            });
        }
        
    });
});


 function convertDate(dateToConvert){
         var dateAr = dateToConvert.split('-');
       
        var newDate =  dateAr[2].substring(0,2)  + '-' + dateAr[1]+ '-' + dateAr[0];
        return newDate;
     }

GetListGroupe();
loadFormation();
function convertDate(dateToConvert){
         var dateAr = dateToConvert.split('-');
       
        var newDate =  dateAr[2].substring(0,2)  + '-' + dateAr[1]+ '-' + dateAr[0];
        return newDate;
     }


function convertDateEnglish(dateToConvert){
         var dateAr = dateToConvert.split('-');
         var newDate =dateAr[0]+"-"+dateAr[1]+"-"+dateAr[2].substring(0,2);
         return newDate;
     }


    function GetListGroupe(){
           $.ajax({
                type:"GET",
                url:"{{ path("GetListGroupe")}}",
                success:function(resp){
                    debugger
                    $("#selgroupe").empty();
                    var defaultline = "<option selected=selected value='-1'>---selectionner groupe---</option>";
                    $("#selgroupe").append(defaultline);
                  
                    //var liste = JSON.parse(resp);
                    $.each(resp.data,function(i,n){
                        debugger
                        var line = "<option value="+n.id+">"+n.Nom+"</option>";
                        $("#selgroupe").append(line);

                    });
                }
            });

    }




 function loadFormation(){
                $.ajax({
                    type:"GET",
                    url:"{{ path("GetListeFormation") }}",
                    success:function(res){
                        debugger
                        var liste = JSON.parse(res.data);
                        if (liste.length>0){
                            $("#selformation").empty();
                            var defaultline="<option value=0 selected>---Choisir une formation---</option>";
                            $("#selformation").append(defaultline);

                      
                            $.each(liste,function(i,n) {
                                debugger
                                var option = "<option value="+n.id+">"+n.libelle+"</option>";
                                $("#selformation").append(option);
                            });
                        }else{

                        }

                            },
                    error:function(){

                    }

                });
            }

$("#tbchef tbody").on('click',' tr > td > .btndecision',function(){
     var row = table.row( $(this).parents('tr') ).data();
     idactivite = row.ID;
   $("#modaldecision").modal({
    backdrop:false
   });

});
$("#tbchef tbody").on('click',' tr > td > .btndetails',function(){
    debugger
    var row = table.row( $(this).parents('tr') ).data();
    $.get("redirectToProgramme",{"value":row.ID, "district":true},function(res){
        debugger
        window.location=res.url;

    });
});


$("#seldecision").change(function(){
    debugger
    let selected = $(this).val();
    if(selected === "Refuser")
         $(".div_decision").show();
    else
         $(".div_decision").hide();

});



$("#btnvalider").click(function(){

    let decision = $("#seldecision").val();
    var commentaire = $("#txtcommentaire").val();
    $.post("/DecisionActivite",{ "id": idactivite,"decision":decision, "commentaire":commentaire},function(){
        window.location.reload();
    });
});

// $("#btnrechercher").click(function(){
// 	var stage = $("#selformation").val();
// 	    $.ajax({
//                     type:"GET",
//                     url:"{{ path("GetNextParticpation") }}",
//                     data:{"value" : stage},
//                     success:function(res){
//                         debugger
//                        		if(res.ok == true){
//                        			table.clear().draw();
//                        			$.each(res.data,function(i,n){
//                        				table.rows.add([{
//                        					"ID": n.id,
//                        					"NOM":n.nom+" "+n.prenoms ,
//                        					"GROUPE" : n.groupe,
//                        					//"STAGE": n.libelle
//                        				}]).draw();
//                        			});
//                        		}


//                             },
//                     error:function(){

//                     }

//                 });
// });




    });
</script>
{% endblock %}