<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}GESTISCOUT - {% block titre %} {% endblock %} {% endblock %}</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- VENDOR CSS -->
        <!-- VENDOR CSS -->
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/animate-css/vivify.min.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/vendor/c3/c3.min.css')  }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendor/chartist/css/chartist.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css') }}">



        <!-- MAIN CSS -->
        <link rel="stylesheet" href="{{ asset('site.min.css') }}">


        {% block stylesheets %}
            <style>
                ul {
                    list-style-type: none;
                }
            </style>
        {% endblock %}
    </head>
    <body class="theme-blue">
        <!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><i class="fa fa-cube font-25"></i></div>
        <p>Veuillez patienter svp...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-left">
                <div class="navbar-brand">
                    <a class="small_menu_btn" href="javascript:void(0);"><i class="fa fa-align-left"></i></a>
                    {# <a href="{{ path("DistrictDash") }}"><span>GestiScout</span></a> #}
                       <a href=""><span>GestiScout</span></a>
                </div>
                <form id="navbar-search" class="navbar-form search-form">
{#                    <input value="" class="form-control" placeholder="Search here..." type="text">#}
{#                    <button type="button" class="btn btn-default"><i class="icon-magnifier"></i></button>#}

                </form>
            </div>
            <h3 class="text-white"><strong></strong></h3>
            <div class="navbar-right">
                <div id="navbar-menu">

                    <ul class="nav navbar-nav">
{#                        <li class="dropdown">#}
{#                            <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown"><i class="fa fa-envelope"></i>#}
{#                                <span class="notification-dot bg-green"></span>#}
{#                            </a>#}
{#                            <ul class="dropdown-menu right_chat email vivify fadeIn">#}
{#                                <li class="header">You have 4 New eMail</li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="media">#}
{#                                            <div class="avtar-pic w35 lbg-indigo"><span>FC</span></div>#}
{#                                            <div class="media-body">#}
{#                                                <span class="name">Folisise Chosielie <small class="float-right">12min ago</small></span>#}
{#                                                <span class="message">New Messages</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="media">#}
{#                                            <img class="media-object" src="{{ asset("assets/images/xs/avatar5.jpg") }}" alt="">#}
{#                                            <div class="media-body">#}
{#                                                <span class="name">Louis Henry <small class="float-right">38min ago</small></span>#}
{#                                                <span class="message">Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="media">#}
{#                                            <div class="avtar-pic w35 lbg-red"><span>FC</span></div>#}
{#                                            <div class="media-body">#}
{#                                                <span class="name">James Wert <small class="float-right">Just now</small></span>#}
{#                                                <span class="message">It is a long established fact that a reader will be distracted</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="media">#}
{#                                            <div class="avtar-pic w35 lbg-green"><span>FC</span></div>#}
{#                                            <div class="media-body">#}
{#                                                <span class="name">James Wert <small class="float-right">Just now</small></span>#}
{#                                                <span class="message">The point of using Lorem Ipsum is that it has a more</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="media mb-0">#}
{#                                            <img class="media-object" src="../assets/images/xs/avatar2.jpg" alt="">#}
{#                                            <div class="media-body">#}
{#                                                <span class="name">Debra Stewart <small class="float-right">2hr ago</small></span>#}
{#                                                <span class="message">Nullam vel sem. Nullam vel sem.</span>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li class="dropdown">#}
{#                            <a href="javascript:void(0);" class="dropdown-toggle icon-menu" data-toggle="dropdown"><i class="fa fa-bell"></i>#}
{#                                <span class="notification-dot bg-azura"></span>#}
{#                            </a>#}
{#                            <ul class="dropdown-menu feeds_widget vivify fadeIn">#}
{#                                <li class="header">You have 4 New Notifications</li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="feeds-left lbg-red"><i class="fa fa-check"></i></div>#}
{#                                        <div class="feeds-body">#}
{#                                            <h4 class="title text-danger">Issue Fixed <small class="float-right text-muted">9:10 AM</small></h4>#}
{#                                            <small>WE have fix all Design bug with Responsive</small>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="feeds-left lbg-info"><i class="fa fa-user"></i></div>#}
{#                                        <div class="feeds-body">#}
{#                                            <h4 class="title text-info">New User <small class="float-right text-muted">9:15 AM</small></h4>#}
{#                                            <small>I feel great! Thanks team</small>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="feeds-left lbg-orange"><i class="fa fa-question-circle"></i></div>#}
{#                                        <div class="feeds-body">#}
{#                                            <h4 class="title text-warning">Server Warning <small class="float-right text-muted">9:17 AM</small></h4>#}
{#                                            <small>Your connection is not private</small>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="javascript:void(0);">#}
{#                                        <div class="feeds-left lbg-green"><i class="fa fa-thumbs-o-up"></i></div>#}
{#                                        <div class="feeds-body">#}
{#                                            <h4 class="title text-success">2 New Feedback <small class="float-right text-muted">9:22 AM</small></h4>#}
{#                                            <small>It will give a smart finishing to your site</small>#}
{#                                        </div>#}
{#                                    </a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}
{#                        <li><a href="javascript:void(0);" class="right_toggle icon-menu" title="Right Menu"><i class="fa fa-comments"></i><span class="notification-dot bg-pink"></span></a></li>#}
                        <li><a href="{{ path('app_logout') }}" class="icon-menu"><i class="fa fa-power-off"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div id="rightbar" class="rightbar">
        <div class="slim_scroll">
            <div class="chat_detail vivify fadeIn delay-100">
                <ul class="chat-widget clearfix">
                    <li class="left float-left">
                        <div class="avtar-pic w35 bg-pink"><span>KG</span></div>
                        <div class="chat-info">
                            <span class="message">Hello, John<br>What is the update on Project X?</span>
                        </div>
                    </li>
                    <li class="right">
                        <img src="../assets/images/xs/avatar1.jpg" class="rounded" alt="">
                        <div class="chat-info">
                            <span class="message">Hi, Alizee<br> It is almost completed. I will send you an email later today.</span>
                        </div>
                    </li>
                    <li class="left float-left">
                        <div class="avtar-pic w35 bg-pink"><span>KG</span></div>
                        <div class="chat-info">
                            <span class="message">That's great. Will catch you in evening.</span>
                        </div>
                    </li>
                    <li class="right">
                        <img src="../assets/images/xs/avatar1.jpg" class="rounded" alt="">
                        <div class="chat-info">
                            <span class="message">Sure we'will have a blast today.</span>
                        </div>
                    </li>
                </ul>
                <div class="input-group p-t-15">
                    <textarea rows="3" class="form-control" placeholder="Enter text here..."></textarea>
                </div>
            </div>
        </div>
    </div>
    <div id="left-sidebar" class="sidebar">

        <div class="sidebar_icon">
            <ul class="nav nav-tabs">
{#                <li class="nav-item"><a class="nav-link" href="page-search-results.html"><i class="fa fa-search"></i></a></li>#}
                {# <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="{{ path("DistrictDash") }}"><i class="fa fa-dashboard"></i></a></li> #}
{#                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Envelope-icon"><i class="fa fa-envelope"></i></a></li>#}
{#                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Components-icon"><i class="icon-diamond"></i></a></li>#}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Profile-icon"><i class="fa fa-user"></i></a>
{#                    <a class="nav-link" data-toggle="tab" href="#Setting-icon"><i class="fa fa-cog"></i></a>#}
                </li>
            </ul>
        </div>
        <div class="sidebar_list">
            <div class="tab-content" id="main-menu">
                <div class="tab-pane active" id="Home-icon">
                    <nav class="sidebar-nav sidebar-scroll">
                        <ul class="metismenu">
                            <li class=><img src="{{ asset("/img_logo/gestiscout_logo.png") }}" class="img-fluid" WIDTH="170" height="150"></li>

                            <li class="header">Configuration</li>
                            <li><a href="{{  path("ListeAnnePastorale") }}"><i class="fa fa-wrench"></i><span>Année pastorale</span></a></li>
                            <li><a href="{{  path("ListeBranche") }}"><i class="fa fa-wrench"></i><span>Branche</span></a></li>
                            <li><a href="{{ path("ListeFonction") }}"><i class="fa fa-wrench"></i><span>Fonction</span></a></li>
                            <li><a href="{{ path("Groupe") }}"><i class="fa fa-wrench"></i><span>Groupe</span></a></li>
                            <li><a href="{{ path("Groupe") }}"><i class="fa fa-wrench"></i><span>Région</span></a></li>
                            <li><a href="{{ path("IndexCommissariatDistrict") }}"><i class="fa fa-wrench"></i><span>District</span></a></li>
                            <li><a href="{{ path("Periode") }}"><i class="fa fa-wrench"></i><span>Periode</span></a></li>
                            <li><a href="{{ path("Rubrique") }}"><i class="fa fa-wrench"></i><span>Rubrique</span></a></li>
                            <li><a href="{{ path("SousRubrique") }}"><i class="fa fa-wrench"></i><span>Sous Rubrique</span></a></li>










                            {# <li class="active"><a href="{{ path("DistrictDash") }}"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li> #}

{#


                            {% if is_granted('ROLE_DISTRICT_USER') %}
                            <li class="header">Jeunes</li>
                            <li><a href="{{ path("ListeJeuneDistrict") }}"><i class="fa fa-bars"></i><span>Liste des jeunes</span></a></li>


                            <li class="header">Responsables </li>
                            <li><a href="{{ path("ListeResponsableDistrict") }}"><i class="fa fa-bars"></i><span>Liste des responsables</span></a></li>
                             <li class="header">Cotisation</li>
                             <li><a href="{{ path("JeuneCotiseDistrict") }}"><i class="fa fa-bars"></i><span> jeunes cotisés</span></a></li>
                                <li><a href="{{ path("ListeResponsableCotiseDistrict") }}"><i class="fa fa-bars"></i><span> responsables cotisés</span></a></li>
                            {% else %}

                        
                            {% endif %} #}

                            {# {% if is_granted('ROLE_CD') %}
                                <li class="header">Responsable district</li>
                                <li><a href="{{ path("AddResponsableDistrict") }}"><i class="fa fa-bars"></i><span>Insérer Responsable</span></a></li>
                                <li><a href="{{ path("ListeResponsable_District") }}"><i class="fa fa-bars"></i><span>Liste Responsable</span></a></li>
                                <li class="header">Responsable Groupe</li>
                                <li><a href="{{ path("AjouterRespocg") }}"><i class="fa fa-bars"></i><span>Insérer Responsable</span></a></li>
                                <li><a href="{{ path("ListeRespoCg") }}"><i class="fa fa-bars"></i><span>Liste Responsable</span></a></li>

                            {% endif %} #}


                            {% if is_granted('ROLE_CD')%}
                                    <li class="header">Configuration</li>
                            <li><a href="{{  path("ListeAnnePastorale") }}"><i class="fa fa-wrench"></i><span>Année pastorale</span></a></li>
                            <li><a href="{{  path("ListeBranche") }}"><i class="fa fa-wrench"></i><span>Branche</span></a></li>
                            <li><a href="{{ path("ListeFonction") }}"><i class="fa fa-wrench"></i><span>Fonction</span></a></li>
                            <li><a href="{{ path("Groupe") }}"><i class="fa fa-wrench"></i><span>Groupe</span></a></li>
                            <li><a href="{{ path("Formation") }}"><i class="fa fa-wrench"></i><span>Formation</span></a></li>
                             <li class="header">Jeunes</li>
                            <li><a href="{{ path("ListeJeuneDistrict") }}"><i class="fa fa-bars"></i><span>Liste des jeunes</span></a></li>
                                <li class="header">Chefs Groupe</li>
                                <li><a href="{{ path("ListeResponsableDistrict") }}"><i class="fa fa-bars"></i><span>Liste des chefs</span></a></li>
                               <li class="header">Chef district</li>
                                <li><a href="{{ path("AddResponsableDistrict") }}"><i class="fa fa-bars"></i><span>Insérer Responsable</span></a></li>
                                <li><a href="{{ path("ListeResponsable_District") }}"><i class="fa fa-bars"></i><span>Liste Responsable</span></a></li>
                                {# <li class="header">Responsable Groupe</li>
                                <li><a href="{{ path("AjouterRespocg") }}"><i class="fa fa-bars"></i><span>Insérer Responsable</span></a></li>
                                <li><a href="{{ path("ListeRespoCg") }}"><i class="fa fa-bars"></i><span>Liste Responsable</span></a></li> #}
  <li class="header">Cotisation</li>
                             <li><a href="{{ path("JeuneCotiseDistrict") }}"><i class="fa fa-bars"></i><span> jeunes cotisés</span></a></li>
                                <li><a href="{{ path("ListeResponsableCotiseDistrict") }}"><i class="fa fa-bars"></i><span> responsables cotisés</span></a></li>
                            {% endif %}

                            {% if is_granted('ROLE_FORMATION')%}
                               <li class="header">Formation</li>
                                <li><a href="{{  path("CreerSession") }}"><i class="fa fa-wrench"></i><span>Créer session</span></a></li>
                                <li><a href="{{  path("chefparformation") }}"><i class="fa fa-wrench"></i><span>Chefs par stage</span></a></li>
                                <li><a href="{{  path("PrevisionStage") }}"><i class="fa fa-wrench"></i><span>Prévision stage</span></a></li>
                                <li><a href="{{  path("ListeDefinitive") }}"><i class="fa fa-wrench"></i><span>Liste définitive</span></a></li>
                            {% endif %}


                            {% if is_granted('ROLE_CD')%}
                               <li class="header">Activités</li>
                            <li><a href="{{  path("ViewActivitesByGroupeDistrict") }}"><i class="fa fa-wrench"></i><span>Activités par groupe</span></a></li>
                            {# <li><a href="{{  path("PrevisionStage") }}"><i class="fa fa-wrench"></i><span>Prévision stage</span></a></li> #}
                            {% endif %}














                        </ul>
                    </nav>
                </div>
                <div class="tab-pane" id="Profile-icon">
                    <nav class="sidebar-nav sidebar-scroll">
                        <div class="user-detail">
                            <div class="text-center mb-3">
                                <img class="img-thumbnail rounded-circle" src="../assets/images/sm/avatar1.jpg" alt="">
                                {# <h6 class="mt-3 mb-0">{{ app.user.district.nom }}</h6>
                                <div class="text-center text-muted">{{ app.user.district.prenoms }}</div> #}
                                <hr>
{#                                <small class="text-muted">Address: </small>#}
{#                                <p> San Francisco</p>#}
{#                                <small class="text-muted">Email address: </small>#}
{#                                <p>louispierce@example.com</p>#}
{#                                <small class="text-muted">Mobile: </small>#}
{#                                <p>+ 202-222-2121</p>#}
{#                                <a href="page-profile.html" class="btn btn-block btn-success mb-2" title="">View Profile</a>#}
{#                                <a href="../documentation/index.html" class="btn btn-block btn-info">Documentation</a>#}
                            </div>
                            <hr>
{#                            <div class="card-text">#}
{#                                <div class="mt-0">#}
{#                                    <small class="float-right text-muted">10/200 GB</small>#}
{#                                    <span>Memory</span>#}
{#                                    <div class="progress progress-xxs">#}
{#                                        <div style="width: 60%;" class="progress-bar"></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="mt-4">#}
{#                                    <small class="float-right text-muted">40 MB</small>#}
{#                                    <span>Bandwidth</span>#}
{#                                    <div class="progress progress-xxs">#}
{#                                        <div style="width: 50%;" class="progress-bar"></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="mt-4">#}
{#                                    <small class="float-right text-muted">73%</small>#}
{#                                    <span>Activity</span>#}
{#                                    <div class="progress progress-xxs">#}
{#                                        <div style="width: 40%;" class="progress-bar"></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="mt-4">#}
{#                                    <small class="float-right text-muted">400 GB</small>#}
{#                                    <span>FTP</span>#}
{#                                    <div class="progress progress-xxs mb-0">#}
{#                                        <div style="width: 80%;" class="progress-bar bg-danger"></div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </nav>
                </div>
                <div class="tab-pane" id="Envelope-icon">
                    <nav class="sidebar-nav sidebar-scroll">
                        <a href="app-compose.html" class="btn btn-danger btn-block mb-3">Compose</a>
                        <ul class="metismenu">
                            <li class="active"><a href="app-inbox.html"><i class="icon-drawer"></i><span>Inbox</span><span class="badge badge-primary float-right">6</span></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-cursor"></i><span>Sent</span><span class="badge badge-warning float-right">6</span></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-envelope-open"></i><span>Draft</span></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-action-redo"></i><span>Outbox</span></a></li>
                            <li><a href="javascript:void(0);"><i class="icon-trash"></i><span>Trash</span></a></li>
                            <li class="header">Labels</li>
                            <li><a href="javascript:void(0);"><i class="fa fa-circle-o text-danger"></i><span>Workshop</span></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-circle-o text-info"></i><span>Private</span></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-circle-o text-dark"></i><span>Paypal</span></a></li>
                            <li><a href="javascript:void(0);"><i class="fa fa-circle-o text-primary"></i><span>Comapny</span></a></li>
                        </ul>
                    </nav>
                </div>
                <div class="tab-pane" id="Components-icon">
                    <nav class="sidebar-nav sidebar-scroll">
                        <ul class="metismenu">
                            <li><a href="ui-helper-class.html"><i class="icon-info"></i>Helper Classes</a></li>
                            <li><a href="ui-bootstrap.html"><i class="icon-key"></i>Bootstrap UI</a></li>
                            <li><a href="ui-typography.html"><i class="icon-target"></i>Typography</a></li>
                            <li><a href="ui-colors.html"><i class="icon-drop"></i>Colors</a></li>
                            <li><a href="ui-buttons.html"><i class="icon-tag"></i>Buttons</a></li>
                            <li><a href="ui-tabs.html"><i class="icon-tag"></i>Tabs</a></li>
                            <li><a href="ui-progressbars.html"><i class="icon-graph"></i>Progress Bars</a></li>
                            <li><a href="ui-modals.html"><i class="icon-tag"></i>Modals</a></li>
                            <li><a href="ui-notifications.html"><i class="icon-question"></i>Notifications</a></li>
                            <li><a href="ui-dialogs.html"><i class="icon-tag"></i>Dialogs</a></li>
                            <li><a href="ui-list-group.html"><i class="icon-list"></i>List Group</a></li>
                            <li><a href="ui-media-object.html"><i class="icon-tag"></i>Media Object</a></li>
                            <li><a href="ui-nestable.html"><i class="icon-loop"></i>Nestable</a></li>
                            <li><a href="ui-range-sliders.html"><i class="icon-equalizer"></i>Range Sliders</a></li>
                            <li>
                                <a href="#Charts" class="has-arrow"><i class="icon-bar-chart"></i><span>Charts</span></a>
                                <ul>
                                    <li><a href="chart-c3.html">C3 Charts</a></li>
                                    <li><a href="chart-chartjs.html">ChartJS</a></li>
                                    <li><a href="chart-morris.html">Morris Charts</a></li>
                                    <li><a href="chart-flot.html">Flot Charts</a></li>
                                    <li><a href="chart-sparkline.html">Sparkline Chart</a></li>
                                    <li><a href="chart-jquery-knob.html">Jquery Knob</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#Forms" class="has-arrow"><i class="icon-layers"></i><span>Forms</span></a>
                                <ul>
                                    <li><a href="forms-basic.html">Basic Elements</a></li>
                                    <li><a href="forms-advanced.html">Advanced Elements</a></li>
                                    <li><a href="forms-validation.html">Form Validation</a></li>
                                    <li><a href="forms-wizard.html">Form Wizard</a></li>
                                    <li><a href="forms-summernote.html">Summernote</a></li>
                                    <li><a href="forms-dragdropupload.html">Drag &amp; Drop Upload</a></li>
                                    <li><a href="forms-editors.html">CKEditor</a></li>
                                    <li><a href="forms-markdown.html">Markdown</a></li>
                                    <li><a href="forms-cropping.html">Image Cropping</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#Tables" class="has-arrow"><i class="icon-film"></i><span>Tables</span></a>
                                <ul style="list-style-type: none !important;">
                                    <li><a href="table-normal.html">Normal Tables</a></li>
                                    <li><a href="table-color.html">Tables Color</a></li>
                                    <li><a href="table-jquery-datatable.html">Jquery Datatables</a></li>
                                    <li><a href="table-editable.html">Editable Tables</a></li>
                                    <li><a href="table-filter.html">Table Filter</a></li>
                                    <li><a href="table-dragger.html">Table dragger</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="tab-pane" id="Setting-icon">
                    <nav class="sidebar-nav sidebar-scroll">
                        <p>General Settings</p>
                        <ul class="setting-list list-unstyled">
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox">
                                    <span>Report Panel Usag</span>
                                </label>
                            </li>
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox" checked="">
                                    <span>Email Redirect</span>
                                </label>
                            </li>
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox" checked="">
                                    <span>Notifications</span>
                                </label>
                            </li>
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox">
                                    <span>Offline</span>
                                </label>
                            </li>
                            <li>
                                <label class="fancy-checkbox">
                                    <input type="checkbox" name="checkbox">
                                    <span>Location Permission</span>
                                </label>
                            </li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Dark Menu
                                <div class="float-right">
                                    <label class="switch">
                                        <input type="checkbox" class="dark_menu_btn">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Dark version
                                <div class="float-right">
                                    <label class="switch">
                                        <input type="checkbox" class="light-btn">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <hr>
                        <p>Choose Skin</p>
                        <ul class="choose-skin list-unstyled mb-0">
                            <li data-theme="blue" class="active"><div class="blue"></div></li>
                            <li data-theme="green"><div class="green"></div></li>
                            <li data-theme="orange"><div class="orange"></div></li>
                            <li data-theme="blush"><div class="blush"></div></li>
                            <li data-theme="cyan"><div class="cyan"></div></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="main-content">
        {% block body %}{% endblock %}
    </div>
</div>
 <!-- Javascript -->
<!-- Latest jQuery -->
<script src="{{ asset('assets/vendor/jquery/jquery-3.3.1.min.js') }}"></script>

<!-- Bootstrap 4x JS  -->
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<script src="{{ asset('bundles/vendorscripts.bundle.js') }}"></script>

<script src="{{ asset('js/common.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
