{% extends 'base_caisse_new.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset("assets/vendor/sweetalert/sweetalert.css") }}"/>
	<link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css") }}">
	<link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css") }}">
	<link rel="stylesheet" href="{{ asset("assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css") }}">
{% endblock %}
{% block titre %}
	Rapport Caisse
{% endblock %}

{% block body %}

	<div class="container-fluid">
		<div class="page-wrapper">
			<div class="row clearfix">
				<div class="col-md-12 col-12 col-sm-12">
					<div class="card">
						<div class="header bg-primary">
							<h2 class="text-center text-white">RECHERCHE CAISSE PRINCIPALE</h2>
						</div>
						<div class="body">

							<div class="row clearfix">
								<div class="col-md-6 col-12 col-sm-12 col-lg-6">
									<b>DATE DEBUT</b>
									<div class="input-group colorpicker">
										<input type="date" class="form-control" id="datedebut">

									</div>
								</div>
								<div class="col-md-6 col-12 col-sm-12 col-lg-6">
									<b>DATE FIN</b>
									<div class="input-group colorpicker">
										<input type="date" class="form-control" id="datefin">

									</div>
								</div>
							</div>
                            <br/>
                            <div class="text-center">
                                <button type="button"  class="btn btn-success" onclick="rechercher();">Rechercher</button>
                               
                            </div>

							<br/><br/><br/>
							<div class="row col-12">
								<div class="col-12 text-center">
									<h5>
										<strong>Liste des opérations</strong>
									</h5>
								</div>

							</div>

							<div class="row col-12">
								<div class="col-12 text-right">
									 <button type="button"  class="btn btn-success" onclick="print();">Imprimer</button>
                               
								</div>

							</div>


							{% include "/shared/_listeoperation.html.twig" %}
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

     <div class="modal fade" id="modalcompte" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Opération en cours....</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <input type="hidden" id="respoId">
                <div class="modal-body">
                    <div class="row">
                     
                        <img src=/img_logo/symbol.png class="rounded mx-auto d-bloc" WIDTH="170" height="150"> 
                     
                    </div>
                </div>
               
            </div>
        </div>
    </div>





{% endblock %}


{% block javascripts %}
	<script src="{{ asset('assets/vendor/jquery-datatable/jquery.dataTables.min.js') }}"></script>
	<script src="{{ asset("assets/vendor/sweetalert/sweetalert.min.js")}} "></script>
	<script src="{{ asset("js/pages/caisse/caisse_report.js") }}"></script>
	<script src="{{ asset("assets/bundles/datatablescripts.bundle.js") }}"></script>
	<script src="{{ asset("assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js") }}"></script>


{% endblock %}
